<!DOCTYPE html>
<html data-ng-app="suzie">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Route Berechnung</title>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script
     </head>
   
    <body data-ng-controller="IndexController">  
        <header class="row" data-ng-show="!displayMenu">
            <div class="col-xs-6 pull-left  collapse-button">
                <h2 data-ng-click="changeMenuState()"><span class="glyphicon glyphicon-align-justify"></h2>
            </div>
            <div class="col-xs-6  logo">
              <h2 class="pull-right">  HHN </h2>
            </div>
        </header>
        <header class="row" data-ng-show="displayMenu">
            <div class="col-xs-6 pull-left  collapse-button">
              <h2>Menü</h2>
            </div>
            <div class="col-xs-6 logo">
                <h2 class="pull-right" data-ng-click="changeMenuState()"><span class="glyphicon glyphicon-align-justify"></h2>
            </div>
        </header>
        <div class="row menu" data-ng-show="displayMenu">
          <ul>
            <li>
                <a href="routeberechnung.html">Routeberechnung </a>
            </li>
              <li>
                <a href="standorte.html">HHN Standorte</a>
            </li>
          </ul>
        </div>

    <div id="pos" style="width:600px; height:200px;" data-ng-show="!displayMenu" col-xs-12>
        Deine Position wird ermittelt...
    </div>
    
    <script>
        function initialize(coords) {
            var latlng = new google.maps.LatLng(coords.latitude, coords.longitude);
            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("pos"), myOptions);
            
            var marker = new google.maps.Marker({
                position: latlng, 
                map: map, 
                title: "Hier bist du :)"
            }); 
        }
  
        navigator.geolocation.getCurrentPosition(function(position){ 
            initialize(position.coords);
        }, function(){
            document.getElementById('pos').innerHTML = 'Deine Position konnte leider nicht ermittelt werden';
        });
    </script>    

    <div class="col-xs-12" data-role="fieldcontain" aktionbereich data-ng-show="!displayMenu" >
        <label for="select-choice-1" class="select">Route Berechnen</label>
        <br>
        <select name="select-choice-1" id="select-choice-1">
            <option value="standard">HHN Standorte Heilbronn</option>
            <option value="rush">Sontheim</option>
            <option value="express">Europaplatz</option>
            <option value="overnight">kuenzelsau</option>
        </select>
    </div> 
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
