.collapse-button{
	padding-left: 45px;
	font-weight: bold;

}

.logo{
	padding-right: 45px;
}

header {
	background: #ccc;
}

.menu ul{
	list-style: none;
	padding-left: 5px;
	text-align: center;

}

.menu ul li {
	display: block;
	height: 75px;
	border-top: 2px solid #ccc;
	padding-top: 1.5em;
	border-bottom: 2px solid #ccc;
}

.menu ul li a{
	color: black;
	font-weight: bold;
	font-size: 2em;
}
.aktionbereich{
	padding-top: 5em;
}